body {
    background-color: black;
    font-family: roboto;
    color: white;
}
p, h2, h3, h4, h5, h6, li {color: rgb(206, 206, 206);}
a {color:red;}
p, a, div {font-size: 18px;}

.barra {color: #ffc107;}
.w3-code{width:auto;
    background-color:#af9c9c;
    padding:8px 12px;
    border-left:4px solid #ffc107;
    word-wrap:break-word}

.back {background-color:#343433;}
.grig {color:white!important;background-color:#181817!important}