.metallo {color:black!important;background-color: gray!important;}
.semimetallo {color:black!important;background-color: lightskyblue!important;}
.non-metallo {color:black!important;background-color: #ffeb3b!important;}
.gas-nobile {color:lightblue!important;background-color: greenyellow!important;}